

/* Style pour le corps de la page */
body {
    background-color: #e6e6e6;
    margin: 0;
}


/* Style pour le titre principal */
h1 {
    color: #00664d;
    font-size: 36px;
}

fieldset {
	font-size: 36px;
 }
form {
	padding : 20px;
	background-color: #00664d;
	
	}

/* Style pour les sections */
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
